nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  /* Damit wir nicht mehr so springen */
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LOGO {
  width: 5rem;
  height: 5rem;
}

nav a {
  color:#f2f0eb;
  text-decoration: none;
}

.projektname {
  display: flex;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.5rem;
  gap: 0rem;
  align-items: center;
}


/* =========================================
   HANDY
   Desktop darüber bleibt unverändert
   ========================================= */

   @media(max-width:700px){
    nav{ 
    flex-direction:column;
    align-items: flex-start;
    gap: 1rem;
    }
    nav ul{
    flex-wrap: nowrap;
    width: 100%;
    gap: 0.65rem 1.2rem;
    font-size: 0.7rem;
    }
    .LOGO{
    width:4rem;
    height:4rem;
    
    }
    
    header {
      padding: 0.65rem 1.2rem;
    }
  }