* {
  box-sizing: border-box;
}
h1,
h2 {
  font-family: "Cormorant Garamond", serif;
}

body {
  margin: 0;
  background-color: #000000;
  color: #f2f0eb;
  font-family: "Inter", sans-serif;
}

header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 4rem;
  padding-right: 4rem;
  border-bottom: 1px solid #24384b;
}
