#technische-daten {
  display: flex;
  align-items: center;
  gap: 3rem;

  padding: 4rem;
  border-top: 1px solid #24384b;
  border-bottom: 1px solid #24384b;
  background-color: black;
   background: linear-gradient(135deg, #1c222a 40%, #252a30 70%, #4f382c 100%);
  
   background: linear-gradient(
    to bottom,
 135deg, #121518 0%,
  #171a1d 65%,
   #3a2a22 100%
  );
 
  );
}
.technische-inhalt h2 {
  font-size: 3rem;
}

.datengrid {
  display: grid;
  grid-template-columns: repeat(2, 21rem);
  gap: 2rem;
}

.datenpunkt {
  padding: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.63s ease;
  border-radius: 1rem;
  min-height: 9rem;
  background-color: #252a30;
}

.datenpunkt:hover {
  transform: translate(-20px);
  border-color: #b47113;
}
.ICON {
  width: 5rem;
  height: auto;
  margin-bottom: 0.1rem;
}
.DATENTEXT {
}

.datenpunkt dd {
  margin: 0;
  font-weight: 600;
}
.DATENTEXT dt {
  margin-top: 0.3rem;
}
.technische-inhalt {
  flex: 1;
}

#technische-daten figure {
  flex: 1rem;
  margin: 0;
}

#technische-daten figure img {
  width: 100%;
  height: auto;
  display: block;
}

.auto-3d {
  width: 100%;
  height: 30rem;
  display: block;
}
